$borderColor: rgba(0, 0, 0, 0.15);
$hoverBackgroundColor: rgba(0, 0, 0, 0.1);
$hoverColor: black;
$mainBackgroundColor: #f3f2ef;
$secondaryBackgroundColor: white;
$mainColor: gray;
$blueLinkedInColor: #0a66c2;

$smallFontSize: 12px;
$mediumFontSize: 14px;
$largeFontSize: 16px;
